* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  background: url("./img/fundopaulo.png") no-repeat center center/cover;
  align-items: center;
  z-index: 1000;
  position: fixed; /* fixa no topo */
  top: 0;
  left: 0;
  border-bottom: 2px solid #0a84ff;
}

.logo-header img {
  max-width: 100%;
  height: 170px;
}

.menu-list {
  display: flex;
  gap: 60px;
  padding: 20px;
}
.menu-list li .botao {
  background: rgba(10, 132, 255, 0.1);

  font-weight: bold;
  font-family: "Poppins";
  border: 2px solid #0a84ff;
  font-size: 1.3rem;
  color: #f8f8f8;
  border-radius: 10px;
  padding: 15px 20px;
}
.menu-list li a {
  font-size: 1.4rem;
  color: #fff;
  font-family: "Poppins";
}
.fundo-preto {
  background: #050505;
  border-bottom: 1px solid #dbff12;
  background: url(./img/fundopaulo.png);
  background-size: cover;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 180px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 4rem;
  color: #ffffff;
  font-family: "Poppins";

  line-height: 1;
}

.hero-text .texto-completo {
  margin: 15px 0;
  font-size: 1.2rem;
  color: #717171;
  font-family: "Roboto";
}

.hero-img img {
  max-width: 100%;
  animation: float 3s ease-in-out infinite;
  background-size: cover;
}

/* Efeito flutuar */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.cor1 span {
  color: #fff;
}

.fundo-img {
  padding-bottom: 10px;
  background-color: #050505;
}
.hero-text button {
  background: #0a84ff;
  font-weight: bold;

  font-family: "Poppins";
  border: 2px solid #0a84ff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px 20px;
}
.hero-text button a {
  color: #131313;
}

.slideshow {
  position: relative;
  width: 100%; /* largura do banner */
  height: 400px; /* altura do banner */
  overflow: hidden;

  box-shadow: 20px 20px 50px rgba(24, 24, 24, 0.5);
  border-radius: 60px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  animation: fade 12s infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 4s;
}
.slide:nth-child(3) {
  animation-delay: 8s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-sobre {
  max-width: 1200px;
  margin: 0 auto;
}
.info-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}
.info-img {
  padding-right: 40px;
}

.info-texto h2 {
  font-size: 3rem;

  color: #222;
  font-family: "Poppins";
  line-height: 1;
  padding-bottom: 10px;
}

.info-texto p {
  font-family: "Roboto";
  font-size: 0.95rem;
  color: #555;
}

.aplicacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.aplicacao-texto h2 {
  font-size: 4rem;
  margin-bottom: 15px;
  font-family: "Poppins";
  line-height: 1;
  color: #fff;
}

.aplicacao-texto p {
  font-size: 1.4rem;
  color: #494949;
  line-height: 1.6;
  font-weight: 500;
  max-width: 800px;
  font-family: "Roboto";
}

.aplicacao-fotos img {
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s;
}

.aplicacao-fotos img:hover {
  transform: scale(1.05);
}

.fundo-img-aplicacao {
  background-color: #060606;
  background-size: cover;
  padding-bottom: 10px;
  box-shadow: inset 0 80px #fff, inset 0 -80px #fff;
}

.beneficios {
  text-align: center;
  max-width: 1600px;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.beneficios h2 {
  font-size: 4rem;
  font-family: "Poppins";
  line-height: 1;
  margin-bottom: 20px;
  color: #222;
}

.beneficios ul li {
  font-size: 1.4rem;
  color: #474747;
  margin-bottom: 5px;
  font-family: "Roboto";
}

.catalogo {
  padding: 40px;
  text-align: center;
}

.catalogo h2 {
  font-size: 4rem;
  padding-top: 60px;
  font-family: "Poppins";
  margin-bottom: 10px;
  color: #ffffff;
  line-height: 1.2;
}

.catalogo p {
  font-size: 1.1rem;
  color: #7a7a7a;
  margin-bottom: 40px;
  font-size: 1.3rem;
  font-size: "Roboto";
}

.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.produto-card {
  background: #1a1a1a;
  padding: 30px;

  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.produto-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2);
}

.produto-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 30px;
}

.produto-card h3 {
  font-size: 1.6rem;
  font-family: "Poppins";
  margin-bottom: px;
  color: #ffffff;
}

.produto-card p {
  color: #666;
  font-size: 1rem;
  margin-bottom: 20px;
}

.produto-card button {
  padding: 10px 20px;
  background: rgba(10, 132, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: "Roboto";
  font-weight: 500;
  cursor: pointer;
  color: #cccccc;
  transition: background 0.3s;
}

.produto-card button:hover {
  background: rgba(100, 178, 255, 0.9);
  border: 2px solid #fff;
  transition: 0.5s ease-in;
}

.fundo-preto {
  background-color: #050505;
}

.depoimentos-texto {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.depoimentos-texto h2 {
  font-size: 4rem;
  font-family: "Poppins";
  color: #1a1a1a;
}

.depoimentos-img img {
  max-width: 100%;
  height: 300px;
}
.depoimentos-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  gap: 40px;
  margin-bottom: 70px;
}

/* Estilo da section de contato */

.contato {
  padding: 60px 20px;
  text-align: center;
}
.contato-info {
  padding: 60px 20px;
  text-align: center;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}

.contato-info h2 {
  font-size: 3rem;
  line-height: 1;
  font-family: "Poppins";
}
.texto-resumido2 {
  display: none;
}
.contato-info p {
  margin-bottom: 30px;
  font-family: "Roboto";
  color: #666;
}
.contato-info a {
  font-family: "Roboto";
  color: #666;
}

/* Estilo do formulário */
.form-contato {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.form-group {
  margin-bottom: 40px;
  font-family: "Roboto";
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #c6c6c6;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1.2rem;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #197bb7;
  outline: none;
}

/* Botão */
button {
  background: #0a84ff;
  color: #fff;
  font-size: 1.4rem;
  padding: 12px 60px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #64b2ff;
  color: #050505;
}

.contatos-footer h3 {
  font-size: 2.3rem;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Poppins";
  color: #fff;
}

.contatos-footer p {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
  color: #7a7a7a;
}

.footer-redes a {
  font-size: 2rem;
  color: #0a84ff;
}

.conteudo-rodape {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.img-marca img {
  max-width: 100%;
  height: 150px;
}
.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
footer {
  background: #101010;
}

.sobre-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px;
}
.sobre-img img {
  max-width: 100%;
  height: 500px;
  border-radius: 40px;
  object-fit: cover;
  padding: 10px;
}

.sobre {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 200px;
}
.sobre-titulo h2 {
  font-size: 3.5rem;
  color: #1a1a1a;
}

.sobre-titulo {
  display: flex;
  font-family: "Poppins";
  justify-content: center;
  padding-bottom: 80px;
}

.sobre-texto h2 {
  font-size: 2rem;
  font-family: "Poppins";
  color: #1a1a1a;
}
.sobre-textop1 h2 {
  font-size: 2rem;
  font-family: "Poppins";
  color: #1a1a1a;
}

.sobre-texto p {
  font-size: 1.2rem;
  font-family: "Roboto";
  color: #474747;
}
.lista-sobre li {
  list-style: disc;
  color: #222;
  padding-right: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.lista-sobre {
  padding: 20px;
}
.localizacao {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.localizacao h2,
p {
  display: flex;
  justify-content: center;
}

.localizacao h2 {
  font-size: 3rem;
  font-family: "Poppins";
  color: #050505;
}

.localizacao p {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.2rem;
  color: #474747;
  margin-bottom: 20px;
}

.ficha-tecnica {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.ficha-tecnica h2 {
  font-size: 3rem;
  display: flex;
  padding-top: 60px;
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Poppins";
  color: #1a1a1a;
}

.ficha-tecnica p {
  margin-bottom: 30px;
  color: #666;
}

.tabela {
  border: 2px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 80px;
}

.linha {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.linha:last-child {
  border-bottom: none;
}

.coluna {
  flex: 1;
  padding: 5px 10px;
}

.titulo {
  font-weight: bold;
  width: 30%;

  font-size: 1.2rem;
}

.valor {
  width: 70%;
  font-size: 1.2rem;
}

small {
  color: #888;
  font-size: 0.9rem;
}

/* Responsivo */
@media (max-width: 600px) {
  .linha {
    flex-direction: column;
  }
  .titulo,
  .valor {
    width: 100%;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 100px; /* Distância da parte inferior da tela */
  right: 40px; /* Distância do lado direito da tela */
  width: 80px;
  height: 80px;
  background-color: #25d366; /* Cor oficial do WhatsApp */
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.atendimento-img img {
  max-width: 100%;
  height: 400px;
  border-radius: 20px;
}

.atendimento-conteudo {
  padding-top: 250px;
  padding-bottom: 100px;
}

.atendimento-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.atendimento-texto {
  padding: 20px;
}
.atendimento-texto h2 {
  font-size: 3rem;
  font-family: "Poppins";
  line-height: 1;
  color: #222;
  padding-bottom: 10px;
}
.atendimento-texto p {
  font-size: 1.1rem;
  font-family: "Roboto";
  font-weight: 500;
  color: #444;
}

.font2 {
  font-size: 1.3rem;
  font-family: "Poppins";
}

.font2 label {
  color: #626262;
}

/* Seções */

.text-center {
  text-align: center;
  justify-content: center;
}

.intro h2 {
  margin-bottom: 10px;
  font-size: 3rem;
  line-height: 1;
  font-family: "Poppins";
}

/* Imagem da introdução */
.intro img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 30px;
  padding: 20px;
}
.intro {
  padding-top: 250px;
  padding-bottom: 80px;
}
.intro p {
  font-size: 1.2rem;
  padding-bottom: 20px;
  color: #4d4d4d;
}
.variedades h2 {
  font-family: "Poppins";
  font-size: 3rem;
  line-height: 1;
}

/* Grid de variedades */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Cards */
.card {
  background: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  max-width: 100%;

  border-radius: 10px;
  margin-bottom: 15px;
}
.card h3 {
  font-size: 1.3rem;
  font-family: "Poppins";
}
.card p {
  font-size: 1rem;
  color: #6a6a6a;
  font-family: "Roboto";
}

/* Botão */
a.botao {
  margin-top: 20px;
  padding: 12px 25px;
  background: #0a84ff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}
a.botao:hover {
  background: #005fcc;
}

.contato h2 {
  color: #ffffff;
}

.contato-texto h2 {
  font-size: 3rem;
  font-family: "Poppins";
}
